<article>
  <h4>Decorator Design Pattern</h4>
  <p>
    The Decorator Design Pattern allows you to add new functionality to an
    existing class, while preserving its original properties and methods.
  </p>

  <p>
    Just think about it as a cake. In a cake, you have what's called the
    <em>Base Cake</em>, which is usually a light-brownish mass consisting of
    eggs, sugar, flour and baking powder.
  </p>

  <picture>
    <img src="/assets/images/base-cake.webp" alt="Sponge cake" />
  </picture>
  <p><small>Base cake</small></p>

  <p>
    We can refer to this <em>Base Cake</em> as our base <em>Cake</em> class.
    Although it might taste good, our small bakery would soon go bankrupt if all
    we offer is spongy base cakes; We need to decorate the base with layers,
    colors, flavors and probably even add a custom message on top of the cake.
  </p>

  <p><em>HBD Jenna!</em></p>

  <p>
    The Decorator Design Pattern allows us to add this toppings and decorations
    without altering the <em>Base Cake</em> (after all, the client still wants a
    cake).
  </p>

  <picture>
    <img
      src="/assets/images/decorated-cake.webp"
      alt="White birthday cake on blue background"
    />
  </picture>
  <p>
    <small
      >Decorated Birthday Cake. This would definitely outsell a base
      cake.</small
    >
  </p>

  <hr />
  <h5>Context</h5>
  <p>
    In this example, we're simulating we are in a video game. On this view, we
    can add new <em>Humans(characters)</em> to our team by choosing from for
    types of humans:
  </p>
</article>
