.grid {
    display: flex;
    gap: 1rem;
    justify-content: start;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.miner-body {
    background-color: #f8f8fa;
    border: 1px solid lightgray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7rem;
    width:80px;
}

.miner-body {
    cursor: pointer;
}
.miner-body .fan.on {
    animation: rotating 1s linear infinite;
}

.miner-body .vent.on {
    animation: blinking 1s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes blinking {
    0% {
        color: black;
    }
    60% {
        color: rgb(100, 255, 245);
    }
    100% {
        color: black;
    }
}