@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    font-family: 'Chakra Petch', sans-serif;
    /* line-height: 1.6; */
}

body, html {
    height: 100%;
}

.nav-link {
    color: #000;
}
.nav-link.active {
    color: #004bc4 !important;
}

article {
    max-width:70%;
}

.form-card {
    max-width:300px;
}

#main {
    overflow-y: scroll;
    width:100%;
}